* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.accordion-cntr {
  /* display: flex; */
}
.accordion-expand-btn {
  display: inline-block;
  transform: rotate(-90deg);
}
.accordion-panel {
  border: 1px solid #e5e5e5;
  overflow: hidden !important;
}
.accordion-btn {
  padding: 5px;
}
.accordion-btn button {
  border: 0 !important;
  outline: 0 !important;
}
.accordion-btn.flip-arrow .accordion-expand-btn {
  transform: rotate(90deg);
}
.flip-arrow {
}
/* .accordion-panel */
/* .animate {
  animation: slide 2.7s ease;
}
@keyframes slide {
  from {
    max-height: 0px;
  }
  to {
    max-height: 150px;
  }
} */
.max-height-0 {
  max-height: 0;
}
.max-height-150 {
  max-height: 150px;
}
.transition-custom-enter {
  transition: all 3.8s ease;
}
.transition-custom-leave {
  transition: all 0.6s ease;
}
.overflow-h {
  overflow: hidden;
}
